<div>

    <div class="product-info">

        <div id="product-main-img">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ featured_image.alt | escape }}"/>
        </div>

        <div class="product-details">
            {% for collection in product.collections %}
                {% case collection.title %}
                    {% when 'Reds' %}
                        <hr class="reds-bar"/>
                    {% when 'Whites' %}
                        <hr class="whites-bar"/>
                    {% when 'Rosés' %}
                        <hr class="roses-bar"/>
                {% endcase %}
            {% endfor %}

            <div>
                <h3>{{ product.title }}</h3>
                <p id="origin-line">{{ 'product.labels.origin' | t | upcase }}
                    {% for tag in product.tags %}
                        {% if tag contains 'region' %}
                            {% assign word = tag | split: '-' %}
                            <span class="tag tag-p" id="tag-region">{{ word[1] }},
                            </span>
                        {% endif %}
                    {% endfor %}
                    {% for tag in product.tags %}
                        {% if tag contains 'country' %}
                            {% assign word = tag | split: '-' %}
                            <span class="tag tag-p" id="tag-country">{{ word[1] }}</span>
                        {% endif %}
                    {% endfor %}

                </p>
                <p>{{ 'product.labels.winery' | t | upcase }}
                    {{ product.vendor }}</p>
                <p>{{ 'product.labels.varietal' | t | upcase }}
                    {{ product.type }}</p>
                <p>{{ 'product.labels.price' | t | upcase }}
                    <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
                </p>
                <p>{{ 'product.labels.score' | t | upcase }}
                    {% for tag in product.tags %}
                        {% if tag contains 'rating' %}
                            {% assign word = tag | split: '-' %}
                            <span class="tag tag-p">{{ word[1] }}</span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>

            <div class="tag-group">
                {% for tag in product.tags %}
                    {% unless tag contains '-' %}
                        <span class="tag tag-label">{{ tag }}</span>
                    {% endunless %}
                {% endfor %}
            </div>

            <div class="product-description">
                {{ product.description }}
            </div>
        </div>

        <div class="product-images">
            <img src="{{ product.images[1]| img_url: 'medium' }}"/>
        </div>

        <div class="product-add">


            <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">

                {% include 'quantity-picker-product' %}
                <button type="submit" name="add" id="add-to-cart-button">{{ 'product.form.button' | t | upcase }}</button>

            </div>
        </form>

    </div>
    <hr/>
    <div class="featured-group">
        <div class="featured-headline">
            <h2>{{ 'product.recommendations.rec_title' | t }}</h2>
        </div>

        <div class="featured-cards">
            {% for product in collections.summer-sips.products limit:4 %}
                <div>
                    <a href="{{ product.url }}">
                        <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="{{ product.title }}"/>
                        <p>{{ product.title }}</p>
                        <p>{{ product.price | money_without_trailing_zeros }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
