{% unless search.performed %}
    <div id="#search-form-wrapper">
        <form action="/search" method="get" role="search" id="search-form">
            <input type="search" name="q" value="{{ search.terms | escape }}"/>
            <button type="submit">search</button>
        </form>
    </div>
{% endunless %}
{%- comment -%}
    [] display unique list of result tag names, cb used as new search terms (filter)can create a new template? or must use snippet/section. [] Want to retain search term but show it outside of search box, & rest of page is a list format that's shared with Collections page
{%- endcomment -%}

{% paginate search.results by 10 %}
    {% if search.performed %}
        {%- comment -%}{% for item in search.results %} assign tags to data attribute, capture in JS file, clean tags, create unique list, loop thru list & add to DOM (indiv or as a group) see Ballard Skillshare code for adding links for Filtering{% endfor %}{%- endcomment -%}
        {% for item in search.results %}
            <h2>{{ item.tags }}</h2>
            {% if item.featured_image %}
                <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                    {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                </a>
            {% endif %}
            <h5>{{ item.title | link_to: item.url }}</h5>
            <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
        {% else %}
            no results
        {% endfor %}
    {% endif %}

    {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
    {% endif %}

{% endpaginate %}
